---
import Layout from "../../layouts/Layout.astro";
import MPSchoolButton from "../../components/specific-page/payment/MPSchoolButton"

const { preferenceId } = Astro.params;
console.log(preferenceId) // Corregir esto porque no quiero forzrlo con el "as string"
---

<Layout title="Pago">
    <div class="w-1/2 space-y-24 py-4 px-6 bg-neutral-100 mx-auto mt-20 rounded-xl">
        <h1 class="text-gray-800 text-2xl font-Ubuntu text-center">
            Pago con Mercado Pago
        </h1>
        <>
        <h3 class="text-center text-base">
            Gracias por hacer su compra con PuntoES!</h3>
            
            <MPSchoolButton paramPreferenceId={preferenceId as string} client:only="react" />
        </>
    </div>

</Layout>